<div class="grid grid-cols-2 lg:grid-cols-4 gap-4 px-4">
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-6 col-span-2 lg:col-span-3 ">
        <div class="col-span-2 lg:col-span-3 px-2 lg:px-0">
        <h3 class="text-base md:text-xl lg:text-2xl">Populära motorcyklar</h3>
        </div>
        <div>
            <a href="#">
            <div class="relative flex justify-center">
                <div class="rounded-lg shadow-xl bg-white max-w-sm border-solid border-2 border-grey-500">
                    <img class="rounded-lg" src="../static/img/bikes/125exc.jpg" alt=""/>
                <div class="absolute rounded bottom-0 left-0 right-0 px-4 py-0 md:py-2 bg-gray-800 bg-opacity-80">
                    <h3 class="text-xs md:text-xl text-white font-bold">
                        KTM 125 EXC</h3>
                </div>
                </div>
            </div>
            </a>
        </div>
        <div>
            <a href="#">
            <div class="relative flex justify-center">
                <div class="rounded-lg shadow-xl bg-white max-w-sm border-solid border-2 border-grey-500">
                    <img class="rounded-lg" src="../static/img/bikes/125exc.jpg" alt=""/>
                <div class="absolute rounded bottom-0 left-0 right-0 px-4 py-0 md:py-2 bg-gray-800 bg-opacity-80">
                    <h3 class="text-xs md:text-xl text-white font-bold">
                        KTM 125 EXC</h3>
                </div>
                </div>
            </div>
            </a>
        </div>
        <div>
            <a href="#">
            <div class="relative flex justify-center">
                <div class="rounded-lg shadow-xl bg-white max-w-sm border-solid border-2 border-grey-500">
                    <img class="rounded-lg" src="../static/img/bikes/125exc.jpg" alt=""/>
                <div class="absolute rounded bottom-0 left-0 right-0 px-4 py-0 md:py-2 bg-gray-800 bg-opacity-80">
                    <h3 class="text-xs md:text-xl text-white font-bold">
                        KTM 125 EXC</h3>
                </div>
                </div>
            </div>
            </a>
        </div>
        <div>
            <a href="#">
            <div class="relative flex justify-center">
                <div class="rounded-lg shadow-xl bg-white max-w-sm border-solid border-2 border-grey-500">
                    <img class="rounded-lg" src="../static/img/bikes/125exc.jpg" alt=""/>
                <div class="absolute rounded bottom-0 left-0 right-0 px-4 py-0 md:py-2 bg-gray-800 bg-opacity-80">
                    <h3 class="text-xs md:text-xl text-white font-bold">
                        KTM 125 EXC</h3>
                </div>
                </div>
            </div>
            </a>
        </div>
        <div>
            <a href="#">
            <div class="relative flex justify-center">
                <div class="rounded-lg shadow-xl bg-white max-w-sm border-solid border-2 border-grey-500">
                    <img class="rounded-lg" src="../static/img/bikes/125exc.jpg" alt=""/>
                <div class="absolute rounded bottom-0 left-0 right-0 px-4 py-0 md:py-2 bg-gray-800 bg-opacity-80">
                    <h3 class="text-xs md:text-xl text-white font-bold">
                        KTM 125 EXC</h3>
                </div>
                </div>
            </div>
            </a>
        </div>
        <div>
            <a href="#">
            <div class="relative flex justify-center">
                <div class="rounded-lg shadow-xl bg-white max-w-sm border-solid border-2 border-grey-500">
                    <img class="rounded-lg" src="../static/img/bikes/125exc.jpg" alt=""/>
                <div class="absolute rounded bottom-0 left-0 right-0 px-4 py-0 md:py-2 bg-gray-800 bg-opacity-80">
                    <h3 class="text-xs md:text-xl text-white font-bold">
                        KTM 125 EXC</h3>
                </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="grid grid-cols-1">
        <div><h3>Länkar</h3></div>
        <div>reklam</div>
    </div>
</div>